/* ====================TYPOGRAPHY==================== */

html{
    font-size: 16px;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ====================CLASSES==================== */
